body {
	margin: 0;
}

.container {
	border: 6px solid black;

	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: 200px auto auto;
	column-gap: 10px;
	row-gap: 20px;
}

.grid-item {
	color: white;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}

.item-1 {
	background-color: #B4BF35;
	/* grid-column: 2 / 4; */
	/* grid-column: 1 / span 2; */
}

.item-2 {
	background-color: #B95F21;
}

.item-3 {
	background-color: #1C4C56;
}

.item-4 {
	background-color: #CFB276;
}

.item-5 {
	background-color: #6B0803;
}

.item-6 {
	background-color: #B95F21;
}

.item-7 {
	background-color: #01243A;
}

.item-8 {
	background-color: #AAD041;
}

.item-9 {
	background-color: #00FFFF;
}